body{
  background-color: rgb(139, 131, 124);
  text-align: center;
}

h2{
  font-size: 36px;
}
.btn{
  margin-right: 10px;
  padding: 5px;
  border: none;
  background-color: rgb(37, 142, 151);
  color: #fff
}